<form [formGroup]="form">
  <input type="text" placeholder="Title" formControlName="title" /><br />
  <span style="color: red;" *ngIf="form.controls.title.invalid">Invalid input!!<br /></span>
  <input type="number" placeholder="Year" formControlName="year" /><br />
  <span style="color: red;" *ngIf="form.controls.year.invalid">Invalid input!!<br /></span>
  <input type="number" placeholder="Rating" formControlName="rating" /><br />
  <span style="color: red;" *ngIf="form.controls.rating.invalid">Invalid input!!<br /></span>

  <p>Is the form currently valid? {{ form.valid ? "Yes" : "No" }}</p>

  <button [disabled]="form.invalid" (click)="saveMovie()" type="button">Add movie!</button>
</form>
